html {
    font-family: Georgia, Times, serif;
    background-color: burlywood;
}

header {
    background-color: antiquewhite;
    border: black solid 2px;
    padding-left: 10px;
}

footer {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    background-color: antiquewhite;
    border: black solid 2px;
    padding-left: 10px;  
}

section {
    background-image: url(map.jpg);
    background-size: cover;
    border: black solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1305px;
    height: 845px;
}

.popup {
    background-color: rgb(255, 255, 255);
    border: black solid 2px;
    position: absolute;
}

.florida, .mississippi, .dc, .disney, .spacecenter {
    width: 30px;
    height: 50px;
    position: absolute;
}

.florida {
    top: 739px;
    left: 976px;
}

.mississippi {
    top: 604px;
    left: 832px;
}

.dc {
    top: 444px;
    left: 1127px;
}

.spacecenter {
    top: 599px;
    left: 910px;
}

.disney {
    top: 767px;
    left: 1059px; 
}