html {
    font-family: Georgia, Times, serif;
    background-color: burlywood;
}

header {
    background-color: antiquewhite;
    border: black solid 2px;
    padding-left: 10px;
}

footer {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    background-color: antiquewhite;
    border: black solid 2px;
    padding-left: 10px;  
}

section {
    margin: 0 auto;
    position: relative;
}

.map {
    max-width: 100%;
    height: auto;
    border: black solid 2px;
}

.popup {
    background-color: rgb(255, 255, 255);
    border: black solid 2px;
    position: absolute;
    font-size: smaller;
    max-width: 250px;
    padding: 5px;
}

.florida, .mississippi, .dc, .disney, .spacecenter {
    margin: 0 auto;
    max-width: 2%;
    height: auto;
    position: absolute;
}

/* Percentages for dynamic change*/
.florida {
    top: 76%;
    left: 74%
}

.mississippi {
    top: 60%;
    left: 63%;
}

.dc {
    top: 40%;
    left: 88%;
}

.spacecenter {
    top: 59%;
    left: 69%;
}

.disney {
    top: 80%;
    left: 81%;
}